<span>--</span>
<%= content_tag(:div, "", id: "root", data: {
  controller: "react",
  sendbird_data: {
    user_id: "bc75cdb5-d4de-446c-a002-25a238160e74",
    access_token: "e111daf6a665f233cbd0194298392e2bc3316c93",
    channel_url: "sendbird_group_channel_182356810_73eeb87c09f23a79d8df1f2643630e400c3c264c",
    app_id: "6A26E84C-DE8B-4A5A-A8E0-9894B867A615"
  }.to_json
}) %>